<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title">{{ title() }}</mat-card-title>
    <mat-card-subtitle class="subTitle">{{ subtitle() }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../../assets/Faculty-of-engineering-logo.webp"
    alt="Faculty of Engineering Logo"
  />
  <mat-card-content>
    <p class="description text-center">
      {{ description() }}
    </p>
  </mat-card-content>
</mat-card>
