@import "../../../../styles/main.scss";

.education-card {
  max-width: 330px;
  border: 1px solid $color-black;
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

.logo-image {
  background-size: cover;
  border: 1px solid $color-grey-dark;
}

img {
  width: 100%;
  height: auto;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  margin-bottom: 1rem;
  background-color: $color-white;
}
