@import "../../../styles/main.scss";

header {
  background-color: $color-gray-ligh-2;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;

  @media (max-width: 768px) {
    padding: 2px 90px 2px 20px;
  }
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1;

  &:hover {
    transform: none;
    text-shadow: none;
  }
}

.navigation a {
  color: #1565c0;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 30px;

  &:hover {
    color: $color-tertiary-light;
  }

  @media (max-width: 768px) {
    padding-left: 10px;
  }
}
