@import "../../../styles/main.scss";

.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#141e30, 0.7),
      rgba(#243b55, 0.7)
    ),
    url(../../../assets/photo-1523961131990-5ea7c61b2107.avif);
  background-size: cover;
  background-position: top;
}

.home-section {
  color: $color-primary;
}
