<div class="col">
  <div class="card h-100 project-card">
    <img
      [src]="imageUrl()"
      class="card-img-top card-img-top"
      alt="project image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ name() }}</h5>
      <p class="card-text">
        {{ description() }}
      </p>
      <div class="tech-stack mb-4">
        <span
          class="badge bg-secondary me-1 mb-1"
          *ngFor="let tech of techStack()"
          >{{ tech }}</span
        >
      </div>
      <div class="buttons">
        <a
          *ngIf="githubUrl()"
          [href]="githubUrl()"
          class="btn btn-github me-2"
          target="_blank"
          rel="noopener"
        >
          Visit GitHub
        </a>
        <a
          *ngIf="liveDemoUrl()"
          [href]="liveDemoUrl()"
          class="btn btn-live-demo me-2"
          target="_blank"
          rel="noopener"
        >
          Try Live Demo
        </a>
      </div>
    </div>
  </div>
</div>
