<app-navbar />
<main>
  <section>
    <app-header />
  </section>
  <section id="education" class="section-education">
    <app-education />
  </section>
  <div class="text-center u-margin-bottom-big">
    <h2 class="heading-secondary">Selected Projects</h2>
  </div>
  <section class="section-projects u-margin-bottom-big">
    <div id="projects">
      <app-projects data-aos="fade-up" data-aos-duration="2000" />
    </div>
  </section>
  <section id="contact" class="u-margin-bottom-big">
    <app-contact />
  </section>
  <app-footer />
</main>
