<div class="text-center u-margin-bottom-big">
  <h2 class="heading-secondary">Education</h2>
</div>
<div class="row">
  <div class="col-1-of-3">
    <app-education-card
      title="Tanta University"
      subtitle="Faculty Of Engineering"
      description="Bachelor Degree Of Engineering"
      logoImagePath="Tanta-university-logo.png"
      mainImagePath="Faculty-of-engineering-logo.webp"
    />
  </div>
  <div class="col-1-of-3">
    <app-education-card
      title="Tanta University"
      subtitle="Faculty Of Engineering"
      description="Bachelor Degree Of Engineering"
      logoImagePath="Tanta-university-logo.png"
      mainImagePath="Faculty-of-engineering-logo.webp"
    />
  </div>
  <div class="col-1-of-3">
    <app-education-card
      title="Tanta University"
      subtitle="Faculty Of Engineering"
      description="Bachelor Degree Of Engineering"
      logoImagePath="Tanta-university-logo.png"
      mainImagePath="Faculty-of-engineering-logo.webp"
    />
  </div>
</div>
