<div class="text-center u-margin-bottom-big">
  <h2 class="heading-secondary">Education</h2>
</div>
<div class="row">
  <div class="col-1-of-3">
    <app-education-card
      title="Tanta University"
      subtitle="Faculty Of Engineering"
      description="Bachelor Degree Of Engineering"
      logoImagePath="Tanta-university-logo.jpeg"
      mainImagePath="Faculty-of-engineering-logo.webp"
    />
  </div>
  <div class="col-1-of-3">
    <app-education-card
      title="MCIT"
      subtitle="Digital Egypt Pioneers Initiative"
      description=".Net Full Stack Web Development"
      logoImagePath="ministry_of_communications_and_information_technology_logo.jpeg"
      mainImagePath="digital_egypt_pioneers_initiative_depi_logo.jpeg"
    />
  </div>
  <div class="col-1-of-3">
    <app-education-card
      title="MCIT"
      subtitle="National Telecommunication Institute"
      description="MEAN Stack Web Development"
      logoImagePath="ministry_of_communications_and_information_technology_logo.jpeg"
      mainImagePath="NTI_logo.jpeg"
    />
  </div>
</div>
